.background-image {
  background-image: url(https://images.unsplash.com/photo-1454982523318-4b6396f39d3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: contain;
  width: 160px;
  height: 160px;
  border: 2px solid;
  color: green;
  resize: both;
  overflow: scroll;
}