.my-table-container {
  max-width: fit-content;
  margin-bottom: 40%;
  height: 100%;
  /* margin: left; */
}

.table{
  width: fit-content;
  background-color: rgb(25, 135, 84, 0.5);
}

.text-center{
  color: #E0FFFF;
}